.admin-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background: #1a1d20;
  border-radius: 5px;
  border: 1px solid #222428;
  transition: border-color 0.16s;
}

.admin-header h3 {
  font-size: 16px;
  font-weight: 600;
  color: #e0e2e5;
  margin: 0;
  letter-spacing: 0.1em;
}

.admin-header em {
  color: #83d8e4;
}