.admin-welcome {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.1em;
  margin-top: 30px;
}

.admin-title {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1em;
  margin-top: 30px;
}

.admin-menu {
  position: absolute;
  margin-top: 50px;
  top: 4rem;
  left: 1rem;
}

.admin-menu h3 {
  margin: 0 0 0.5rem 0;
}

.admin-logout-btn {
  font-family: Jetbrains Mono, monospace;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.6em 1.4em;
  border-radius: 8px;
  border: 2px solid transparent;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: border-color 0.3s, background 0.3s, color 0.3s;
}

.admin-logout-btn:hover {
  border-color: red;
  background: #222;
  color: #ff4c4c;
}

