.admin-container {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 56px 1fr 44px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
  min-height: 100vh;
  gap: 12px;
  background: #171a1d;
}

