.admin-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  min-height: 100vh;
  gap: 15px;
}

.admin-sidebar {
  grid-area: aside;
}

.admin-configuration {
  grid-area: main;
}
